<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jenkins Suite">
  
  <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    
  </listeners>
  
  <test name="AddEmployee Test">
    <classes>
      <class name="com.Intelli.Jenkins.Jenkins.AddEmployee"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="EditEmployee Test">
    <classes>
      <class name="com.Intelli.Jenkins.Jenkins.EditEmployee"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="DeleteEmplooyee Test">
    <classes>
      <class name="com.Intelli.Jenkins.Jenkins.DeleteEmployee"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
